.hidden {
    display: none;
}

main {
    width: 45%;
    margin: auto;
    margin-top: 10%;
}


.button {
    padding: 10px 20px;
    font-weight: bold;
    background-color: white;
    border-radius: 15px;
    border: none;
    outline: none;
    box-shadow: -1px -1px 12px 5px rgba(232, 232, 232, 1);
    font-size: 15px;
    margin: 10px 0px;
}

.button:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
    box-shadow: none;
}

.success {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 12px;
    font-weight: bold;
    font-size: 15px;
    margin: 10px 0px;
}

.error {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 12px;
    font-weight: bold;
    font-size: 15px;
    margin: 10px 0px;
}

select {
    padding: 10px 3px;
}


.h2 {
    font-size: 20px;
    letter-spacing: 1.5px;
}


.center {
    align-items: center;
    text-align: center;
}

.notifyForm {
    padding: 30px;
    border-radius: 15px;
    box-shadow: -1px -1px 12px 5px rgba(232, 232, 232, 1);
}

input {
    padding: 10px;
    min-width: 50%;
}



.inputDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
}

label {
    font-size: 20px;
}